body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
}
/* Variables */
:root {
  --green: #5f9341;
  --white: #ffffff;
  --red: #e31010;
}

input {
  width: 100%;
  min-height: 30px;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid var(--green);
  box-sizing: border-box;
}

.save-btn {
  min-width: 150px;
  min-height: 30px;
  background-color: var(--green);
  color: var(--white);
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.clear-btn {
  min-width: 150px;
  min-height: 30px;
  background-color: var(--white);
  color: var(--green);
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: 1px solid var(--green);
  cursor: pointer;
}
.delete-single-item {
  cursor: pointer;
  margin-left: 10px;
  color: var(--green);
}
.delete-single-item:hover {
  color: var(--red);
}

ul {
  list-style: none;
}

li {
  padding: 5px;
}

li a {
  color: var(--green);
  font-size: 1.2rem;
}
